<%- include('../partials/header') %>

<div class="background-sm background">
    <div class="container mt-5">
        <div class="row pt-5">
            <div class="col-md-6 pl-md-5 pr-md-5 pb-md-4 pt-md-4 p-sm-2 bg-light m-auto rounded">
                <h2 class="mb-3 text-center">Input Player</h2>
                <form action="/players" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="player[name]" type="text" class="form-control" id="name" placeholder="Player Name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="deskripsi">Age</label>
                        <input name="player[age]" type="number" class="form-control" id="age" placeholder="Age"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL</label>
                        <input name="player[image]" type="text" class="form-control" id="image"
                            placeholder="https://www.image.com/img.jpg" required>
                    </div>
                    <div class="form-group">
                        <p>Playing Position</p>
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" name="player[position]">
                                <option selected></option>
                                <option value="Point Guard">Point Guard</option>
                                <option value="Shooting Guard">Shooting Guard</option>
                                <option value="Shooting Guard">Center</option>
                                <option value="Small Forward">Small Forward</option>
                                <option value="Power Forward">Power Forward</option>
                            </select>
                            <div class="input-group-append">
                            </div>
                            </div>
                            <br>
                        <div class="form-group">
                            <input type="submit" value="Add Player" class="btn btn-primary btn-block">
                            <a href="../" class="btn btn-danger btn-block" style="text-decoration: none;">Cancel</a>
                        </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>